<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- styles -->
    <link rel="stylesheet" href="../../styles/sass/main.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="../../img/fav.png" type="image/png">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ee56650e50.js" crossorigin="anonymous"></script>

    <!-- Fonts ~ Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">


    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    <title>TB ver1</title>
</head>

<body>
    <section>
        <!-- header -->
        <header class="header-wrap">
            <div class="wrap">
                <!-- TB logo -->
                <div class="img-box">
                    <a href="../../index.html">
                        <img src="../../img/TBLogo.PNG" alt="LOGO">
                    </a>
                </div>
            </div>
        </header>
        <div class="form-box">
            <form action="" ng-app="form" ng-controller="formCtrl">
                <h1>Hours Saved</h1>
                <ol>
                    <!-- Q1 -->
                    <div>
                        <li>
                            <label for="exampleInputEmail1">How many one-time donations does your organization recieve
                                annually?</label>
                            <input type="text" ng-model="amount" ng-change='check()' class="form-control">
                        </li>

                        <!-- Q2 -->
                        <li>
                            <label for="exampleInputEmail1">How many recurring donors does your organization
                                have?</label>
                            <input type="text" ng-model="amount1" ng-change='check(amount1)' class="form-control">
                        </li>
                        <!-- sub questions for Q1 and Q2 -->
                        <ol class="subQs" ng-show="show12">
                            <li>
                                <label for="exampleInputEmail1">How many hours are spent monthly generating and
                                    communicating donation reports?</label>
                                <input type="email" class="form-control">
                            </li>
                            <li>
                                <label for="exampleInputEmail1">How many hours are spent tracking and reporting on
                                    in-kind
                                    donation gifts received and estimated fair market value (FVM)?</label>
                                <input type="email" class="form-control">
                            </li>
                            <li>
                                <label for="exampleInputEmail1">How many hours are spent weekly reconciling donations
                                    with
                                    accounting systems?</label>
                                <input type="email" class="form-control">
                            </li>
                            <li>
                                <label for="exampleInputEmail1">How many hours are spent monthly writing thank-you
                                    letters
                                    for donations?</label>
                                <input type="email" class="form-control">
                            </li>
                        </ol>
                    </div>

                    <!-- Q3 -->
                    <li>
                        <label for="exampleInputEmail1">How many fundraising events does your organization hold
                            annually?</label>
                        <input type="text" ng-model="amount3" ng-change='show3.check(amount3)' class="form-control">
                        <!-- if amount is not 0 show the sub questions -->
                        <!-- Sub Questions for Q3 -->
                        <ol class="subQs" ng-show="show3">
                            <li>
                                <label for="exampleInputEmail1">What kind of donation do you receive? Select all that
                                    apply.</label>
                                <div class="check-box">
                                    <label for="select">Online Donation</label>
                                    <input type="checkbox" ng-model="online" class="form-check-input">
                                </div>
                                <ol class="subQs">
                                    <li ng-show="online">
                                        <label for="exampleInputEmail1">How much revenue do generate annually from
                                            recurring
                                            donations?</label>
                                        <input type="text" class="form-control">
                                    </li>
                                </ol>
                                <div class="check-box">
                                    <label for="select">One-Time Donation</label>
                                    <input type="checkbox" ng-model="one" class="form-check-input">
                                </div>
                                <ol class="subQs">
                                    <li ng-show="one">
                                        <label for="exampleInputEmail1">How much revenue do generation annually from
                                            one-time
                                            donations?</label>
                                        <input type="text" class="form-control">
                                    </li>
                                </ol>
                                <div class="check-box">
                                    <label for="select">Recurring Donation</label>
                                    <input type="checkbox" ng-model="recurring" class="form-check-input">
                                </div>
                                <ol class="subQs">
                                    <li ng-show="recurring">
                                        <label for="exampleInputEmail1">How much revenue do you generate annually from
                                            online
                                            donations?</label>
                                        <input type="text" class="form-control">
                                    </li>
                                </ol>
                            </li>

                        </ol>
                    </li>



                    <!-- Q4 -->
                    <li>
                        <label for="exampleInputEmail1">What is the value of grant revenue won by your organization
                            annually?</label>
                        <input type="text" ng-model="amount4" ng-change='show4.check(amount4)' class="form-control">
                    </li>

                    <!-- Sub Question for Q4 -->
                    <ol class="subQs" ng-show="show4">
                        <li>
                            <label for="exampleInputEmail1">How many grant applications does your organization complete
                                annually?</label>
                            <input type="text" class="form-control">
                        </li>
                        <li>
                            <label for="exampleInputEmail1">How many hours does your organization spend weekly managing
                                your grants pipeline?</label>
                            <input type="text" class="form-control">
                        </li>
                        <li>
                            <label for="exampleInputEmail1">How many hours does your organization spend weekly managing
                                grant applications and reporting
                                deadlines?</label>
                            <input type="text" class="form-control">
                        </li>
                        <li>
                            <label for="exampleInputEmail1">How many hours are spent monthly generating and
                                communicating grant reports?</label>
                            <input type="text" class="form-control">
                        </li>
                        <li>
                            <label for="exampleInputEmail1">How many hours does your organization spend monthly managing
                                allocations of restricted grant
                                funds?</label>
                            <input type="text" class="form-control">
                        </li>
                    </ol>

                    <!-- Q5 -->
                    <li>
                        <label for="exampleInputEmail1">How many hours are spent annually conducting major outreach
                            campaigns to donors?</label>
                        <input type="text" class="form-control">
                    </li>

                    <!-- Q6 -->
                    <li>
                        <label for="exampleInputEmail1">How many hours are spent monthly conducting and reconciling
                            matching gift campaigns?</label>
                        <input type="text" class="form-control">
                    </li>

                    <!-- Q7 -->
                    <li>
                        <label for="exampleInputEmail1">How many hours are spent monthly tracking and reporting on soft
                            credit history?</label>
                        <input type="text" class="form-control">
                    </li>

                    <!-- Q8 -->
                    <li>
                        <label for="exampleInputEmail1">How many hours are spent annually tracking and preparing end of
                            the year tax receipts?</label>
                        <input type="text" class="form-control">
                    </li>
                </ol>
                <a href="fundraising/CDR.html">
                    <button type="button" class="btn btn-success">Next</button>
                </a>
            </form>
            <script type="text/javascript">
                var app = angular.module('form', []);
                app.controller('formCtrl', function ($scope) {
                    $scope.show12 = false;
                    $scope.show3 = false;
                    $scope.show4 = false;
                    $scope.check = function (amount) {
                        if ($scope.amount == '0' || $scope.amount == null) {
                            return false;
                        }
                        else{
                            return true;
                        }
                    }
                    $scope.show12 = $scope.check();
                    $scope.show3 = $scope.check();
                    $scope.show4 = $scope.check();
                });
            </script>
        </div>
    </section>

</body>

</html>