@import '../abstracts/_abstracts'

div.choice-group
    width: 90%
    display: flex
    justify-content: space-around
    margin-bottom: 5rem
    flex-wrap: wrap
    h1
        flex-basis: 100%
        text-align: center
        padding-bottom: 4rem
    button
        width: 30%