* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: none !important;
}

a, h1, h2, h3, h4, h5, h6, p, li, div {
  font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  overflow-y: hidden;
}

img {
  overflow-y: hidden;
}

footer.wrap-db {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c355e;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 30vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.wrap-db footer.wrap-lb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8fafd;
  height: 25vh;
  width: 100vw;
}

div.footer-box {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 0 2rem;
  background-color: white;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.footer-box span.red-line {
  height: .2rem;
  width: 1.5rem;
  background-color: #d2451e;
  margin: 1rem 0;
}

div.footer-box h1, div.footer-box h3, div.footer-box a {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

div.footer-box h1 {
  font-size: 2.4rem;
  color: #1c355e;
}

div.footer-box h3, div.footer-box a {
  font-size: 1.5rem;
}

div.footer-box a {
  color: #d2451e;
}

div.footer-box a i {
  padding-right: .5rem;
  color: black;
}

div.volunteer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5vh;
  width: 75vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.volunteer h3 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  width: 40%;
  padding: 1rem 0;
}

header.header-wrap {
  width: 100vw;
  min-height: 15vh;
  background-color: #7ec142;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.wrap {
  max-width: 1024px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.wrap div.img-box {
  width: 30%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.wrap div.img-box img {
  width: 85%;
  height: 100%;
  overflow: hidden;
}

div.wrap div.account-links a {
  font-size: 2.7rem;
  color: whitesmoke;
  padding: 0 2rem;
}

div.site-banner-wrap {
  width: 100vw;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #104b7d;
}

div.site-banner {
  max-width: 1024px;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.site-banner div.banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85%;
  padding: 0 1rem;
}

div.site-banner div.desc {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.site-banner div.desc h1, div.site-banner div.desc p {
  width: 85%;
  font-weight: 200;
  color: whitesmoke;
}

div.site-banner div.desc h1 {
  font-size: 4rem;
  font-weight: 200;
}

div.site-banner div.desc p {
  font-size: 1.7rem;
}

div.site-banner div.desc button {
  background-color: #7ec142;
  font-size: 2rem;
  width: 45%;
}

div.site-banner div.pic {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

div.site-banner div.pic img {
  height: 75%;
}

div.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 10vh;
}

div.transition h3 {
  font-size: 2rem;
}

div.product-container {
  max-width: 1024px;
  width: 100vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.product-container div.product-box {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: #f8fafd;
  min-height: 45vh;
  max-height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0;
  padding: 1.5rem;
}

div.product-container div.product-box h3, div.product-container div.product-box p {
  text-align: center;
}

div.product-container div.product-box img {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

div.product-container div.product-box p {
  font-size: 1.2rem;
}

form.login-form {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form.login-form div.form-group {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
}

form.login-form label {
  font-size: 2.4rem;
}

form.login-form input {
  padding: .5rem;
  font-size: 1.5rem;
}

form.login-form button {
  background-color: #7ec142;
  font-size: 2.3rem;
  width: 20%;
  padding: .5rem;
}

form.login-form a {
  font-size: 1.7rem;
  color: #104b7d;
}

div.choice-group {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.choice-group h1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  padding-bottom: 4rem;
}

div.choice-group a {
  width: 30%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

div.choice-group div.btn-group button {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}

form.orsSurvey-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.question-answers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
}

div.question {
  font-size: 1.8rem;
  text-align: left;
}

div.answer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .3rem;
  vertical-align: middle;
}

div.answer label, div.answer input[type="radio"] {
  display: inline;
  font-size: 1.5rem;
  padding: .2rem;
}

div.buttton-wrapper {
  text-align: center;
  -webkit-box-pack: bottom;
      -ms-flex-pack: bottom;
          justify-content: bottom;
}

div.buttton-wrapper button {
  font-size: 1.8rem;
  width: 20%;
  padding: .5rem;
}

div.orsSurvey h1 {
  text-align: center;
  padding: .5rem;
}

div.roi-container {
  max-width: 1024px;
  width: 100vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.roi-container h1.roi-calc {
  font-size: 4rem;
  text-align: center;
  padding: 3rem 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

div.roi-container div.roi-box {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: #f8fafd;
  min-height: 45vh;
  max-height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0;
  padding: 1.5rem;
}

div.roi-container div.roi-box h3, div.roi-container div.roi-box p {
  text-align: center;
}

div.roi-container div.roi-box img {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

div.roi-container div.roi-box button {
  font-size: 2rem;
  margin-top: 2rem;
}

div.form-box {
  width: 100%;
  min-height: 80vh;
}

div.form-box form {
  max-width: 1024px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 2rem;
  width: 100%;
}

div.form-box form button {
  font-size: 2rem;
}

ol {
  width: 100%;
}

li {
  padding: 1rem 0;
  width: 100%;
}

li label {
  font-size: 1.7rem;
}

li input {
  width: 35% !important;
}

ol.subQs label {
  color: blue !important;
}
/*# sourceMappingURL=main.css.map */